<%- include('partials/header'); -%>

<form>
    <h2>Sign Up</h2>
    <label for="email">Email</label>
    <input type="text" name="email" required placeholder="Insert Email Here"/>
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" name="password" required placeholder="Insert Password Here">
    <div class="password error"></div>
    <button>Sign Up</button>
</form>

<script>
    const form = document.querySelector('form')
    const emailError = document.querySelector('.email.error') //se è presente uno spazio in class mettiamo il punto
    const passwordError = document.querySelector('.password.error')
    form.addEventListener('submit' , async (event) => {
        event.preventDefault()

        //reset errors
        emailError.textContent = ''
        passwordError.textContent = ''

        //get values
        const email = form.email.value
        const password = form.password.value
        try {
            const res = await fetch('/signup' , {
                method : 'POST',
                body: JSON.stringify({email , password}),
                headers: {'Content-Type' : 'application/json'}
            })
            const data = await res.json() //questo conterrà l'obj in risposta che abbiamo settato nei controller, o id o errors
            console.log(data.email);
            if(data.errors){
                emailError.textContent = data.errors.email
                passwordError.textContent = data.errors.password
            }

            // redirect to homepage
            if(data.user){
                location.assign('/') 
            }

        } catch (error) {
            console.log(error);
        }
    })
</script>

<%- include('partials/footer'); -%>